{{>header}}
<div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <h1>{{errormessage}}</h1>
                 </div>
            </div>
        </div>
     </div>
{{>footer}}