{{>header}}
     <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <figure>
                            <img src="images/about.png" alt="about" class="img-fluid img-thumbnail"/>
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                   <p>Welcome to weather APP!</p>
                        <h1>Get the latest<span>Weather</span>Info of your city!</h1>
                        <a href="/weather"><button>About me!</button></a>
                    </div>
                </div>
            </div>
        </div>
   </div>
{{>footer}}